*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    position: fixed;
    top:0; left:0; right:0;
    background-color: whitesmoke;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0,0.1);
}
header .logo{
    font-size: 4rem;
    color: #333;
    font-weight: bolder;
  
}
header .logo span{
    color: #ac9a8f;

}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}
header .navbar a:hover{
   color: #ac9a8f;
}

header .icons a{
    font-size: 2rem;
    margin-left:1.5rem;
    color: #666;
}
header .icons a:hover{
    color: #ac9a8f;
 }
 header #toggler{
    display: none;
 }
 header .fa-bars{
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    padding:0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0,0.3);
     display: none;
 }
section{
    padding: 2rem 9%;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/19.jpg);
    background-size: cover;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 6rem;
    color: #333;
}
.home .content span{
    font-size:3.5rem;
    color: #878280;
    padding: 1rem 0;
    line-height:1.5;
}
.home .content p{
    font-size:1.5rem;
    padding: 0.5rem 0;
    line-height:1.5;
    color: #333;
}
.btn{
    display: inline-block;
    font-size: 20px;
    margin-top: 1rem;
    padding: .9rem 3.5rem;
    border-radius: 16px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    background-color: #ac9a8f;

}
.heading{
    text-align: center;
    color: #333;
    background:whitesmoke;
    font-size: 64px;
    margin:2rem 0;
    padding:1rem;
}
.heading span{
    color: #ac9a8f;
}
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
margin-top: 3rem;}
.about .row .image-container{
    flex: 1 1 30rem;
    position: relative;
}
.about .row .image-container img{
    height: 400px;
    width: 99.9%;
    object-fit: cover;
}
.about .row .image-container h3{
 position: absolute;
 top:50%;
   transform: translateY(-50%);
   font-size: 3rem;
   color: #333;
   background-color: #fff;
   padding: 1rem 2rem;
   width: 100%;
   text-align: center;
   mix-blend-mode:hard-light;

}
.about .row .content{
flex: 1 1 30rem;
}
.about .row .content h3{
    font-size: 3rem;
    color: #333;
}
.about .row .content p{
    font-size: 1.5rem;
    color: #333;
    padding: 0.5rem 0;
    line-height:1.5;
}

.icons-container{
  background:whitesmoke;
display: flex;
flex-wrap: wrap;
padding-top: 5rem;
padding-bottom: 5rem;
gap:1.5rem;
}
.icons-container .icons{
background-color: #fff;
padding: 2rem;
display: flex;
align-items: center;
flex:1 1 25rem;
}

.icons-container .icons i{
font-size: 3rem;
    padding: 0 1.5rem;
    color: #000;
}

.icons-container .icons h3{
    font-size: 2rem;
    color: #000;
    }
 .icons-container .icons span{
     font-size: 1.5rem;
      color: #000;
  }

.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 3rem;
}
.products .box-container .box{
    flex:1 1 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0,0.1);
    border:0.1rem solid rgba(0, 0, 0,0.1);
    position: relative;
    background: whitesmoke;
}
.products .box-container .box .discount{
    position: absolute;
    top:0;
    left: 0;
    font-size: 2.5rem;
    padding: 1rem;
    background: rgba(255,51,153.0.05);
    color:rgba(0, 0, 0,0.8);
    z-index: 1;
   font-weight: bold;
}
.products .box-container .box .images{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.products .box-container .box .images img{
    width: 100%;
    height: 400px;
}

.products .box-container .box:hover .images img{
    transform: scale(1.1);
    transition:1s;
}
.products .box-container .box .images .icons{
    position: absolute;
    bottom:-7rem;
    left:0;
    right:0;
    display: flex;
}
.products .box-container .box .images .icons .btn-cart{
border-left: 0.1rem solid #fff;
border-right: 0.1rem solid #fff;
width: 100%;

}
 .products .box-container .box:hover .images .icons{
    bottom: 0;
}
.products .box-container .box:hover .images a{
   height: 5rem;
   font-size: 2rem;
   line-height: 5rem;
   background-color: #666;
   color: #fff;
   width: 50%;
}
.products .box-container .box:hover .images a:hover{
 background: rgba(0, 0, 0,0.5);
}

.products .box-container .box .content{
    text-align: center;
    padding: 2rem;
}
.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}
.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    padding-top: 1rem;
}
.products .box-container .box .content .price span{
    font-size: 1.5rem;
    padding-left: 0.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.reviews .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 3rem;
}

.reviews .box-container .box{
    flex:1 1 30rem;
    border-radius: 0.5rem;
  box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0,0.1);
   padding: 3rem 2rem;
    position: relative;
    background: whitesmoke;
   
}

.reviews .box-container .box i{
    font-size: 2rem;
    color: #333;
    padding-top: 1.5rem;
}
.reviews .box-container .box p{
    font-size: 1.5rem;
    color: #666;
    line-height: 1.5rem;
    padding-top: 1.5rem;
}
.reviews .box-container .box .user{
display: flex;
text-align: center;
padding-top: 2rem;
}
.reviews .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    }

    .reviews .box-container .box .user h3{
font-size: 2rem;
color: #333;
 }
 .contacts .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    margin-top: 3rem;
 }

 .contacts .row form{
flex: 1 1 40rem;
border-radius: 0.5rem;
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0,0.1);
 padding: 2rem 2.5rem;
 border: 0.1rem solid rgba(0, 0, 0,0.1);
 background:whitesmoke;

 }
 .contacts .row image{
    flex: 1 1 40rem;
  }
  .contacts .row .image img{
  width: 100%;
  height: 450px;
  border-radius: 0.5rem;
 }
 .contacts .row form .box{
padding: 1rem;
font-size: 1.5rem;
color: #333;
border-radius:10px;
border: none;
margin: 0.7rem 0;
width: 100%;
 }
 .contacts .row form textarea{
    height: 15rem;
 }
 .contacts .row form input{
    border: none;
font-family:serif;
 }
 .footer{
    background-color: rgba(245,245, 245,0.5);
    margin-top: 1rem;
 }
 .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    
 }

 .footer .box-container .box{
flex: 1 1 25rem;
 }
 .footer .box-container .box h3{
font-size: 2.5rem;
color: #333;
padding: 1rem 0;
 }
 .footer .box-container .box a{
    display: block;
    font-size: 2rem;
    color: #666;
    padding: 1rem 0;
 }

 .footer .box-container .box a:hover{
    color:rgb(210, 180, 140);
    text-decoration: underline;
 }


 /* media query for header */
 @media(max-width: 991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
    }

 }
 @media(max-width: 768px){
   header .fa-bars{
    display: block;
   }
   header .navbar{
    position: absolute;
    top:100%; left:0; right:0;
    background-color: #eee;
    border-top: .1rem solid rgba(0, 0, 0,0.1);
   }
   header #toggler:checked ~ .navbar{
     clip-path: polygon(0 0,100% 0,100% 0,0 0);
   }
header .navbar a{
margin: 1.5rem;
padding: 1.5rem;
background-color: #fff;
border: 0.1rem solid rgba(0, 0, 0,0.1);
border-radius: 1rem;
display: block;
   }
   .home .content h3{
 font-size: 5rem;
}
.home .content span{
    font-size: 3rem;
   }
   .icons-container .icons h3{
    font-size: 2.5rem;

    }
 .icons-container .icons span{
        font-size: 2rem;

        }
 }

 @media(max-width: 450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 48px;
    }
 }



